# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart.lock

# Généré
**/*.freezed.dart
**/*.g.dart
lib/l10n/app_localizations*.dart

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# iOS / Android
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties
*.jks

# Cloud Functions
functions/node_modules/
functions/lib/
functions/lib-test/
functions/.env
functions/.env.*
!functions/.env.example

# Émulateurs Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
database-debug.log
pubsub-debug.log
