# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart.lock

# Généré
**/*.freezed.dart
**/*.g.dart
lib/l10n/app_localizations*.dart

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# iOS / Android
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties
*.jks
